<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplicationConfigProtection-20170706091120.mdf;Initial Catalog=aspnet-WebApplicationConfigProtection-20170706091120;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>